node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Audacity
/static/financial-obligations-pm-music.aup3-wal
/static/financial-obligations-pm-music.aup3-shm
/static/financial-obligations-pm-music.aup3

# all the svg files
/static/*.svg